<!DOCTYPE html>
<html>
  <head>

    <!-- Title -->
    <title>RHCS &bull; Authentication</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css" media="screen,projection" />

  </head>

  <body>
    <div class="container">
      <div class="row">
        <form id="loginForm" class="col s12">

          <!-- Heading -->
          <h2 class="flow-text">Authentication not required</h2>
          <span>Hey, you are already have logged in. If you want to exit - press Logout button on the bottom of this page</span>


          <!-- Username field -->
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" min="3" class="validate">
              <label for="username">Username</label>
            </div>
          </div>

          <!-- Password field -->
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" min="3" class="validate">
              <label for="password">Password</label>
            </div>
          </div>

          <!-- Submit -->
          <button class="waves-effect waves-light btn-large" id="loginAction">Login</button>&nbsp;&nbsp;
          <a href="/page/logout" class="waves-effect waves-light btn-large">Logout</a>

        </form>
      </div>
    </div>  

    <!-- JS -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/utils.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </body>
</html>