<!DOCTYPE html>
<html>
  <head>

    <!-- Title -->
    <title>RHCS &bull; Dashboard</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css" media="screen,projection" />
    
    <script>window.rhcs = {pageMarker: 'main'};</script>

  </head>

  <body>

    <!-- Navigation bar -->
    <nav>
      <div class="nav-wrapper">
       &nbsp;&nbsp;
        <a href="/page/main" class="brand-logo">RHCS</a>
        <a href="#" data-activates="mobileNavbar" class="button-collapse">&nbsp;&nbsp;MENU</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/page/main">Dashboard</a></li>
          <li><a href="/page/controls">Controls</a></li>
          <li><a href="/page/settings">Settings</a></li>
          <li><a href="/page/logout">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobileNavbar">
          <li><a href="/page/main">Dashboard</a></li>
          <li><a href="/page/controls">Controls</a></li>
          <li><a href="/page/settings">Settings</a></li>
          <li><a href="/page/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <br>
         
    <div class="container">
      
      <!-- First row -->
      <div class="row">
        
        <!-- Information -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">

            <div class="card-content white-text">

              <b>Saint-Petersburg &bull; UTC + 3</b>
              <h3 id="dashboard-widget-time">15:15</h3>

              <div class="valign-wrapper">
                <i class="small mdi-action-event"></i>
                <b class="valign" id="dashboard-widget-date">&nbsp;&nbsp;5th September 2015</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-file-cloud"></i>
                <b class="valign" id="dashboard-widget-weather">&nbsp; Дом: &nbsp; 31&deg; / 32%</b>
              </div>
             
              <div class="valign-wrapper">
                <i class="small mdi-file-cloud"></i>
                <b class="valign" id="dashboard-widget-weather">&nbsp; Улица: &nbsp; 14.0&deg; / 82% / 18 ms</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-editor-attach-money"></i>
                <b class="valign" id="dashboard-widget-currate">&nbsp;&nbsp; USD: 65.64 &nbsp;&bull;&nbsp; EUR 74.96</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-toggle-check-box"></i>
                <b class="valign" id="dashboard-widget-state">&nbsp;&nbsp; System Core OK</b>
              </div>
              
              <div class="valign-wrapper">
                <i class="small mdi-toggle-check-box"></i>
                <b class="valign" id="dashboard-widget-state">&nbsp;&nbsp; Celestia OK</b>
              </div>
              
              <div class="valign-wrapper">
                <i class="small mdi-toggle-check-box"></i>
                <b class="valign" id="dashboard-widget-state">&nbsp;&nbsp; Remote OK</b>
              </div><br>

            </div>

          </div>
        </div>
       
        <!-- Lighting -->
        
        
        
        <!-- Plant 
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Растения</span><br><br>
              <b>
                Ficus elastica
                <div class="progress"><div class="determinate" style="width: 71%"></div></div>
                <br>
                <button class="waves-effect waves-teal btn btn-small">Полить</button>
              </b>
            </div>
          </div>
        </div>
        -->

        <div class="col s12 m6">

          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Светодиодная лента</span><br>
              
              <h6>Сегмент №1</h6>
              <input type="color" data-thingid="2" onchange="pushNewValue(this)" data-segment="1" data-thinggroup="lighting">
              <br><br>
              <h6>Сегмент №2</h6>
              <input type="color" data-thingid="3" onchange="pushNewValue(this)" data-segment="2" data-thinggroup="lighting">
              <br><br>
            </div>
          </div>

        </div>
        
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Проточная вентиляция</span><br>
              <button class="waves-effect waves-teal btn btn-small" data-thingaction="vent_on"  onclick="$.get('/api/v1/execute_task', { task: 'VENT_ON' })">Включить</button>&nbsp;&nbsp;
              <button class="waves-effect waves-teal btn btn-small" data-thingaction="vent_off"  onclick="$.get('/api/v1/execute_task', { task: 'VENT_OFF' })">Выключить</button>
            </div>
          </div>
        </div>
        
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Розетка</span><br>
              <button class="waves-effect waves-teal btn btn-small" onchange="" data-thingaction="blinds_up" onclick="$.get('/api/v1/execute_task', { task: 'LAMP_ON' })">Включить</button>&nbsp;&nbsp;
              <button class="waves-effect waves-teal btn btn-small" data-thingaction="blinds_down" onclick="$.get('/api/v1/execute_task', { task: 'LAMP_OFF' })">Выключить</button>
            </div>
          </div>
        </div>
       
      </div>
      
      <!-- Third row -->
      <div class="row">
        
        <!-- Camera -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Camera One</span><br>
              <img id="cameraStream" alt="Camera stream" class="responsive-img">
              <!--<img src="https://placehold.it/640x560" alt="Camera stream" class="responsive-img">-->
            </div>
          </div>
        </div>
        
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Вентилятор</span><br>
              <button class="waves-effect waves-teal btn btn-small" onclick="$.get('/api/v1/execute_task', { task: 'BVENT_ON' })">Включить</button>&nbsp;&nbsp;
              <button class="waves-effect waves-teal btn btn-small" onclick="$.get('/api/v1/execute_task', { task: 'BVENT_OFF' })">Выключить</button>
            </div>
          </div>
        </div>
        
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Штора</span><br>
              <button class="waves-effect waves-teal btn btn-small" onclick="$.get('/api/v1/execute_task', { task: 'BLINDE_UP' })" data-thingaction="blinds_up">Поднять</button>&nbsp;&nbsp;
              <button class="waves-effect waves-teal btn btn-small" data-thingaction="blinds_down" onclick="$.get('/api/v1/execute_task', { task: 'BLINDE_DOWN' })">Опустить</button>
            </div>
          </div>
        </div>

       <!--
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Дверь</span><br>
              <button class="waves-effect waves-teal btn btn-small" data-thingaction="door_open">Открыть</button>&nbsp;&nbsp;
              <button class="waves-effect waves-teal btn btn-small" data-thingaction="door_close">Закрыть</button>
            </div>
          </div>
        </div>
        
        -->
        
        <!-- HVAC 
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">

            <div class="card-content white-text">
              <span class="card-title">HVAC</span><br>
              
              <div class="row">
                
                <div class="col s6 m6"><h2>26.4&deg;<h5>Now</h5></h2></div>
                
                <div class="col s6 m6"><h2><span id="targettemp">18&deg;</span><h5>Target</h5></h2></div>
                
              </div>
              
              <button id="hvacpowerbutton" onclick="changeHVACPower()" class="btn"></button>
              <button id="hvacbutton" onclick="changeHVACMode()" class="btn"></button>
              <br><br>
              <div>
                <label>
                  <b></b>
                  <p class="range-field">
                  <input type="range" onchange="updateTarget(this)" min="0" max="35" /></p>
                </label>
              </div><br>
              
            </div>

          </div>
        </div>
        -->
      
    </div>  

    <!-- JS -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/assets/js/utils.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </body>
</html>