<!DOCTYPE html>
<html>
  <head>

    <!-- Title -->
    <title>RHCS &bull; Dashboard</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css" media="screen,projection" />
    
    <script>window.rhcs = {pageMarker: 'main'};</script>

  </head>

  <body>

    <!-- Navigation bar -->
    <nav>
      <div class="nav-wrapper">
       &nbsp;&nbsp;
        <a href="/page/main" class="brand-logo">RHCS</a>
        <a href="#" data-activates="mobileNavbar" class="button-collapse">&nbsp;&nbsp;MENU</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/page/main">Dashboard</a></li>
          <li><a href="/page/controls">Controls</a></li>
          <li><a href="/page/settings">Settings</a></li>
          <li><a href="/page/logout">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobileNavbar">
          <li><a href="/page/main">Dashboard</a></li>
          <li><a href="/page/controls">Controls</a></li>
          <li><a href="/page/settings">Settings</a></li>
          <li><a href="/page/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <br>
         
    <div class="container">
      
      <!-- First row -->
      <div class="row">
        
        <!-- Information -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">

            <div class="card-content white-text">

              <b>Novosibirsk &bull; NOVT UTC+6</b>
              <h3 id="dashboard-widget-time">15:15</h3>

              <div class="valign-wrapper">
                <i class="small mdi-action-event"></i>
                <b class="valign" id="dashboard-widget-date">&nbsp;&nbsp;5th September 2015</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-maps-traffic"></i>
                <b class="valign" id="dashboard-widget-traffic">&nbsp;&nbsp;3 балла</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-file-cloud"></i>
                <b class="valign" id="dashboard-widget-weather">&nbsp; 18&deg; Ясно</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-editor-attach-money"></i>
                <b class="valign" id="dashboard-widget-currate">&nbsp;&nbsp; USD: 68.72 &nbsp;&bull;&nbsp; EUR 76.93</b>
              </div>

              <div class="valign-wrapper">
                <i class="small mdi-toggle-check-box"></i>
                <b class="valign" id="dashboard-widget-state">&nbsp;&nbsp; System Core OK</b>
              </div>
              
              <div class="valign-wrapper">
                <i class="small mdi-toggle-check-box"></i>
                <b class="valign" id="dashboard-widget-state">&nbsp;&nbsp; Celestia OK</b>
              </div>
              
              <div class="valign-wrapper">
                <i class="small mdi-toggle-check-box"></i>
                <b class="valign" id="dashboard-widget-state">&nbsp;&nbsp; Remote OK</b>
              </div><br>

            </div>

          </div>
        </div>
       
        <!-- Lighting -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">

              <span class="card-title">Освещение</span>

              <div class="switch">
                <label>
                  <input type="checkbox" onchange="pushNewValue(this)" data-thingid="2" data-thinggroup="lighting">
                  <span class="lever"></span>
                  &nbsp; <b>Основная аудитория</b>
                </label>
              </div><br>
              
              <div class="switch">
                <label>
                  <input type="checkbox" onchange="pushNewValue(this)" data-thingid="3" data-thinggroup="lighting">
                  <span class="lever"></span>
                  &nbsp; <b>Склад</b>
                </label>
              </div><br>

              <div class="switch">
                <label>
                  <input type="checkbox" onchange="pushNewValue(this)" data-thingid="0" data-thinggroup="lighting">
                  <span class="lever"></span>
                  &nbsp; <b>Кабинет</b>
                </label>
              </div><br><br>
                                          
              <div>
                <label>
                  <b>Подсветка #1</b>
                  <p class="range-field"><input type="range" onchange="pushNewValue(this)" data-thingid="4" data-thinggroup="lighting" min="0" max="255" /></p>
                </label>
              </div><br>
              
              <div>
                <label>
                  <b>Подсветка #2</b>
                  <p class="range-field"><input type="range" onchange="pushNewValue(this)" data-thingid="5" data-thinggroup="lighting" min="0" max="255" /></p>
                </label>
              </div>
              
            </div>
            <div class="card-action">
              <button class="waves-effect waves-teal btn btn-small" onclick="switchGroupState(this, 1)" data-thinggroup="lighting">ON</button>
              <button class="waves-effect waves-teal btn btn-small" onclick="switchGroupState(this, 0)" data-thinggroup="lighting">OFF</button>
            </div>
          </div>
        </div>
        
      </div>
      
      <!-- Second row -->
      <div class="row">
        
        <!-- Plant -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Растения</span><br><br>
              <b>
                Ficus elastica
                <div class="progress"><div class="determinate" style="width: 71%"></div></div>
                <br>
                <button class="waves-effect waves-teal btn btn-small">Полить</button>
              </b>
            </div>
          </div>
        </div>

        <!-- Electricity -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">

              <!-- Card header -->
              <span class="card-title">Электроэнергия</span><br>

              <!-- Chaynik -->
              <div class="switch">
                <label>
                  <input type="checkbox" onchange="pushNewValue(this)" data-thingid="1" data-thinggroup="electricity">
                  <span class="lever"></span>
                  &nbsp; <b>Чайник</b>
                </label>
              </div><br>
              
              <!-- The Rozetka -->
              <div class="switch">
                <label>
                  <input type="checkbox" onchange="pushNewValue(this)" data-thingid="10" data-thinggroup="electricity">
                  <span class="lever"></span>
                  &nbsp; <b>Розетка</b>
                </label>
              </div>

            </div>
            <div class="card-action">
              
              <button class="waves-effect waves-teal btn btn-small" onclick="switchGroupState(this, 1)" data-thinggroup="electricity">ON</button>
              <button class="waves-effect waves-teal btn btn-small" onclick="switchGroupState(this, 0)" data-thinggroup="electricity">OFF</button>
              
            </div>
          </div>
        </div>
      </div>
      
      <!-- Third row -->
      <div class="row">
        
        <!-- Camera -->
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Camera One</span><br>
              <img id="cameraStream" alt="Camera stream" class="responsive-img">
              <!--<img src="https://placehold.it/640x560" alt="Camera stream" class="responsive-img">-->
            </div>
          </div>
        </div>
        
        <!-- HVAC 
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">

            <div class="card-content white-text">
              <span class="card-title">HVAC</span><br>
              
              <div class="row">
                
                <div class="col s6 m6"><h2>26.4&deg;<h5>Now</h5></h2></div>
                
                <div class="col s6 m6"><h2><span id="targettemp">18&deg;</span><h5>Target</h5></h2></div>
                
              </div>
              
              <button id="hvacpowerbutton" onclick="changeHVACPower()" class="btn"></button>
              <button id="hvacbutton" onclick="changeHVACMode()" class="btn"></button>
              <br><br>
              <div>
                <label>
                  <b></b>
                  <p class="range-field">
                  <input type="range" onchange="updateTarget(this)" min="0" max="35" /></p>
                </label>
              </div><br>
              
            </div>

          </div>
        </div>
        -->
        
        <!--
        
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">The Robotic Vaccum Cleaner 5000&trade;</span><br>
              <button class="btn">Begin</button>
              <button class="btn">Base</button>
            </div>
          </div>
        </div>
        
        -->
        
      </div>
      
    </div>  

    <!-- JS -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/assets/js/utils.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </body>
</html>