doctype html
html
  head
    //- Include all headers
    include ./includes/head.jade
    
    //- Use marker
    script window.rhcs = { pageMarker: "#{pageMarker}" };
    
  body

    div.container
    
      div.row
        
        div.eleven.column
          br
          h3.heading Authentication required
          
          form(action="#")
          
            div.row
              //- Username
              div.eleven.columns
                label(for="username") Username
                input(type="text", class="u-full-width", id="usernameField", placeholder="Username", required)
                
            //- Delimeter
            div.row
              div.eleven.column
               br
              
            div.row
              //- Password
              div.eleven.columns
                label(for="password") Password
                input(type="password", class="u-full-width", id="passwordField", placeholder="Password", required)
    
            //- Delimeter
            div.row
              div.eleven.column
               br
                
    
            div.row
              div.eleven.columns
                button.button(class="button-primary u-full-width", id="authSubmit") Login
    
            div.row
              div.eleven.columns
                small.ta-center Development version. Haystacks of errors are included
    
    //- Include JS
    include ./includes/scripts.jade
